[submodule "third_party/CMSIS-NN"]
	path = third_party/CMSIS-NN
	url = https://github.com/ARM-software/CMSIS-NN.git
[submodule "third_party/CMSIS_6"]
	path = third_party/CMSIS_6
	url = https://github.com/ARM-software/CMSIS_6.git
